html,
body {
  padding: 0;
  margin: 0;
}

#main {
  width: 100%;
  margin: 0 auto;
}

.avatar_container {
  height: 600px;
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.about_container {
  max-width: 1000px;
  margin: 0 auto;
  height: auto;
  text-align: center;
}

#socials {
  margin: 50px auto 0;
  max-width: 1000px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}

.social {
  width: 20%;
  padding:  10px;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}

.social__twitter {
  color: #000000;
  background: #ffffff;
  box-shadow: var(--wa-shadow-l);
}

.social__youtube {
  color: #ff0000;
  background: #ffffff;
  box-shadow: var(--wa-shadow-l);
}

.social__discord {
  color: #5865f2;
  background: #ffffff;
  box-shadow: var(--wa-shadow-l);
}

.social__twitch {
  color: #9146ff;
  background: #ffffff;
  box-shadow: var(--wa-shadow-l);
}
